<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>dbName</param-name>
        <param-value>SurgeryDB</param-value>
    </context-param>
    <context-param>
        <param-name>dbUser</param-name>
        <param-value>surgery</param-value>
    </context-param>
    <context-param>
        <param-name>dbPass</param-name>
        <param-value>password</param-value>
    </context-param>
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>filters.AdminFilter</filter-class>
    </filter>
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>filters.LoginFilter</filter-class>
    </filter>
    <filter>
        <filter-name>PatientFilter</filter-name>
        <filter-class>filters.PatientFilter</filter-class>
    </filter>
    <filter>
        <filter-name>StaffFilter</filter-name>
        <filter-class>filters.StaffFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/Admin/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <servlet-name>LoginServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <servlet-name>RegisterServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>PatientFilter</filter-name>
        <url-pattern>/Patient/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>StaffFilter</filter-name>
        <url-pattern>/Staff/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>listeners.NewContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardServlet</servlet-name>
        <servlet-class>com.DashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStaffServlet</servlet-name>
        <servlet-class>com.AddStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppointmentServlet</servlet-name>
        <servlet-class>com.AppointmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DestroyAppointmentServlet</servlet-name>
        <servlet-class>com.DestroyAppointmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListPatientsServlet</servlet-name>
        <servlet-class>com.ListPatientsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeConsultationServlet</servlet-name>
        <servlet-class>com.ChangeConsultationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PayBillsServlet</servlet-name>
        <servlet-class>com.PayBillsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagePatientServlet</servlet-name>
        <servlet-class>com.ManagePatientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListPatientsDateServlet</servlet-name>
        <servlet-class>com.ListPatientsDateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardServlet</servlet-name>
        <url-pattern>/Dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStaffServlet</servlet-name>
        <url-pattern>/Admin/AddStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppointmentServlet</servlet-name>
        <url-pattern>/Patient/Appointments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DestroyAppointmentServlet</servlet-name>
        <url-pattern>/Patient/DestroyAppointments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListPatientsServlet</servlet-name>
        <url-pattern>/Admin/ListPatients</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeConsultationServlet</servlet-name>
        <url-pattern>/Admin/ChangeConsultation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PayBillsServlet</servlet-name>
        <url-pattern>/Patient/PayBills</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagePatientServlet</servlet-name>
        <url-pattern>/Staff/ManagePatients</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListPatientsDateServlet</servlet-name>
        <url-pattern>/Admin/ListPatientsDate</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>20</session-timeout>
    </session-config>
</web-app>
